*.py[co]
*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# logs
pip-log.txt

# testing
.coverage
.tox

#translations
*.mo

#dev stuff
my_project
*.pyc
build