{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BBDR{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Confirm Order</h1>
</div>
<div class="col-md-4">
	<legend>Personal Information</legend>

	<br>{{ form.first_name.label }}
    {{ form.first_name }}</br>
    <br>{{ form.last_name.label }}
    {{ form.last_name }}</br>
</div>
<div class="col-md-4">
	<legend>Rider Information</legend>
	<br>{{ form.height.label }}
	{{ form.height }}</br>
	<br>{{ form.weight.label }}
    {{ form.weight }}</br>
</div>
  {{ form.submit }}

{% endblock %}